.chartCard {
    position: relative;
}

.chartCard .chartTop {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chartCard .metaWrap {
    float: left;
}

.chartCard .meta {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    text-align: left;
}

.chartCard .total {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 38px;
    height: 38px;
    text-align: left;
}

.chartCard .content {
    margin-bottom: 12px;
    position: relative;
    width: 100%;
    height: 46px;
    text-align: left;
}

.chartCard .contentFixed {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.chartCard .card-footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 9px;
    margin-top: 8px;
    text-align: left;
}

.chartCard .card-footer > * {
    position: relative;
}
