.miniChart {
    position: relative;
    width: 100%;
}

.miniChart .chartContent {
    position: absolute;
    bottom: -34px;
    width: 100%;
}

.miniChart .chartContent > div {
    margin: 0 -5px;
    overflow: hidden;
}
