
.ca-userheader {
    display: flex;
    background-color: white;
    padding: 20px;
}

.ca-userheader .avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;
}

.ca-userheader .avatar > span {
    border-radius: 72px;
    display: block;
    width: 72px;
    height: 72px;
}

.ca-userheader .content {
    position: relative;
    top: 4px;
    margin-left: 24px;
    flex: 1 1 auto;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
}

.ca-userheader .content .contentTitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 12px;
}